.flag{
    
    width: 900px;
    height: 600px;
    background-color: #CE1126;
}

div  div>p{
    font-size: 80px;
    border: 2px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 359px;
    background-color: white;
    margin-top: 50px;

}
div > div {
    border: 2px solid #002868;
    background-color: #002868;
    height: 300px;

}

.flag > p{
    font-size: 80px;
    color: white;
    border: 0px solid red;
    margin: 0;
    text-align: center;
    height: 150px;
    
}

